body{
    background-color: #E4F9F5;
    color: #E4F9F5;
    font-size: larger;
    display: flex;
    justify-content: center;
}

.main{
    width: 300px;
    height: 300px;
    background-color: #11999E;
    margin-top: 12%;
    padding: 30px;
    border: solid 2px #40514E;
    border-radius: 30px;
    box-shadow: 5px 5px 10px 5px #40514E;
    text-align: center;

}

.email{
    margin-top: 20%;
}

.password{
    margin-top: 10%;
}

input{
    width: 80%;
    padding: 10px;
    border: solid 2px #40514E;
    border-radius: 10px;
}

.button{
    margin-top: 15%;
    margin-bottom: 5%;
    height: 15%;
}

button{
    background-color: #40514E;
    color: #E4F9F5;
    width: 25%;
    height: 85%;
    border: 1px solid #40514E;
    border-radius: 10px;
    box-shadow: 0px 3px 5px #40514E;
}

button:hover{
    background-color: #E4F9F5;
    color: #40514E;
    box-shadow: 0px 3px 5px #40514E;
}

.sign{
    font-size: small;
}

a{
    color: #E4F9F5;
}